# Java/Maven
*.class
target/
build/

# Logs
*.log
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
*.ctxt

# Arquivos empacotados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Temporários
*.tmp
.mtj.tmp/

# Arquivos de configuração local
*.properties
*.yml
!src/main/resources/*.yml